<div class="improved-mentees-block">
  <div class="improved-mentees-list">
    <h5>Select a mentee</h5>
    <ul>
      {{#mentees}}
        <li>
          <a href="{{url}}" class="{{#isSelected}}active{{/isSelected}}">
            {{fullname}} ({{username}})
          </a>
        </li>
      {{/mentees}}
    </ul>
  </div>

  {{#selected}}
    {{#error}}
      <div class="notification error">{{error}}</div>
    {{/error}}

    {{^error}}
      <h4>{{#str}}menteedetails,block_improvedmentees{{/str}}</h4>
      <div class="mentee-name">{{fullname}} ({{username}})</div>

      {{#courses}}
        <div class="improved-mentees-course">
          <h5>{{fullname}}</h5>
          {{#overallpercentage}}
            <div class="overall-grade">
              {{#str}}overallgrade,block_improvedmentees{{/str}}: {{overallpercentage}}%
            </div>
          {{/overallpercentage}}
          {{^overallpercentage}}
            <div class="nograde">{{#str}}nogradeavailable,block_improvedmentees{{/str}}</div>
          {{/overallpercentage}}

          {{#outstanding}}
            <ul>
              {{#outstanding}}
                <li>
                  {{name}} — 
                  {{#duedate}}
                    {{duedate}}
                  {{/duedate}}
                  {{^duedate}}
                    {{#str}}noduedate,block_improvedmentees{{/str}}
                  {{/duedate}}
                </li>
              {{/outstanding}}
            </ul>
          {{/outstanding}}
          {{^outstanding}}
            <div class="no-outstanding">{{#str}}nooutstanding,block_improvedmentees{{/str}}</div>
          {{/outstanding}}
        </div>
      {{/courses}}
    {{/error}}
  {{/selected}}
</div>

